.movie-detail {
  color: var(--color-white-70);
  display: flex;
  gap: 70px;
}

.movie-detail .poster {
  flex-shrink: 0;
  --width: 500px;
  width: var(--width);
  height: calc(var(--width) * 3 / 2);
  border-radius: 10px;
  background-size: cover;
  background-color: var(--color-area);
}

.movie-detail .specs {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.movie-detail .title {
  font-size: 70px;
  font-family: 'Oswald', sans-serif;
  line-height: 1;
  color: var(--color-white);
  margin-bottom: 30px;
}
.movie-detail .title.skeleton {
  height: 70px;
}

.movie-detail .labels {
  color: var(--color-primary);
  margin-bottom: 20px;
}

.movie-detail .labels.skeleton {
  height: 30px;
}

.movie-detail .plot.skeleton {
  width: 90%;
  height: 400px;
}

.movie-detail h3 {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  color: var(--color-white);
  margin: 24px 0 6px;
}

.skeleton {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background-color: var(--color-area);
}

.skeleton::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.05)
  );
  transform: translateX(-100%);
  animation: skeleton-loader 2s infinite;
}

@keyframes skeleton-loader {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
