footer {
  padding: 40px 40px 60px;
  text-align: center;
}

footer a {
  color: var(--color-white-30);
  text-decoration: none;
}
footer a:hover {
  color: var(--color-white-50);
  text-decoration: underline;
}
