header {
  padding: 20px 40px;
  background-color: rgba(14, 17, 27, 0.9);
  position: sticky;
  top: 0;
  z-index: 9;
  display: flex;
  align-items: flex-end;
  gap: 40px;
}

header .logo {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  color: var(--color-white-70);
  text-decoration: none;
}

header .logo span {
  color: var(--color-primary);
}

header nav ul {
  display: flex;
  gap: 14px;
}

header nav ul li a {
  font-size: 14px;
  font-weight: 700;
  color: var(--color-white-70);
  text-decoration: none;
}

header nav ul li a.active {
  color: var(--color-primary);
}

header .developer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-area);
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  margin: auto;
  transition: 0.3s;
  overflow: hidden;
}

header .developer:hover {
  transform: scale(1.2);
}
header .developer img {
  width: 100%;
}
